LoadModule ibm_ssl_module modules/mod_ibm_ssl.so
LoadModule rewrite_module modules/mod_rewrite.so
Listen {{ ansible_host }}:{{ admin_port }} 
<VirtualHost {{ ansible_host }}:{{ admin_port }}>
        SSLEnable
        ServerName {{ altServerNameFQDN }}
        RewriteEngine On
        #RewriteLog ${HTTPD_HOME}/logs/rewrite.log
        RewriteLog /was8/HTTPServer/logs/rewrite.log

        SSLProtocolDisable SSLv2 SSLv3
        SSLServerCert {{ sslCertAltServerName }}
        KeyFile {{ http_keyfile }}

        SSLStashFile {{ http_stashfile }}

        SSLCipherSpec SSL_RSA_WITH_3DES_EDE_CBC_SHA

        RewriteLogLevel 2
        RewriteRule [^a-zA-Z0-9|\.|/|_|-] - [F]
        RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS)
        RewriteRule .* - [F]
</VirtualHost>

<FilesMatch "^\.ht">
Order allow,deny
Deny from all
Satisfy All
</FilesMatch>
