<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>ssl-1.0</feature>
        <feature>jsp-2.2</feature>

        <!-- Begin of features added by IBM Worklight installer. -->
        <!-- The following lines will be removed when the application is uninstalled -->
        <feature>jdbc-4.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>servlet-3.0</feature>
        <feature>ldapRegistry-3.0</feature>
        <feature>jndi-1.0</feature>
        <!-- End of features added by IBM Worklight installer. -->

    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" host="*" >

        <!-- Option soReuseAddr added by IBM Worklight installer. -->
        <tcpOptions soReuseAddr="true"/>

    </httpEndpoint>

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>


<ldapRegistry id="ldap" realm="ADLdapADRealm"
        host="10.163.58.32" port="389" ignoreCase="true"
        baseDN="DC=PRU,DC=intranet,DC=asia"
        bindDN="CN=Service Account Mobilefirst,OU=Users,OU=RHO,OU=SG,DC=PRU,DC=intranet,DC=asia"
        bindPassword="Pa$$w0rd"
        ldapType="Microsoft Active Directory" recursiveSearch="true">
        <activedFilters
                userFilter="(&amp;(sAMAccountName=%v)(objectcategory=user))"
                groupFilter="(&amp;(cn=%v)(objectcategory=group))"
                userIdMap="user:sAMAccountName"
                groupIdMap="*:cn"
                groupMemberIdMap="memberOf:member" >
        </activedFilters>
    </ldapRegistry>

    <ldapRegistry id="rhdsldap" realm="RHDSLdapRealm"
        host="vsgrholpdir01.pru.net" port="389" ignoreCase="true"
          baseDN="dc=prumfp,dc=net"
          bindDN="uid=sguseradmin1,ou=users,ou=rho,ou=sg,dc=prumfp,dc=net"
           bindPassword="P@ssw0rd"
           ldapType="Custom">
           <customFilters
                userFilter="(&amp;(uid=%v)(objectClass=organizationalPerson))"
                groupFilter="(&amp;(cn=%v)(objectClass=groupofuniquenames))"
                userIdMap="*:uid"
                groupIdMap="*:cn"
                groupMemberIdMap="groupofuniquenames:uniqueMember" >
        </customFilters>
    </ldapRegistry>




    <basicRegistry>
        <!--    Worklight user.
        [Added by IBM Worklight Installation Manager for context root '/applicationcenter'] 
        -->
        <user name="demo" password="{{ ac_demo_pwd }}"/>

        <!--    Worklight user.
        [Added by IBM Worklight Installation Manager for context root '/applicationcenter'] 
        -->
        <user name="appcenteradmin" password="{{ ac_appcenteradmin_pwd }}"/>
        <user name="user1" password="{{ ac_user1_pwd }}"/>
        <user name="user2" password="{{ ac_user2_pwd }}"/>
        
        <user name="TH_ePOS_training" password="{{ ac_training_pwd }}"/>
        <user name="TH_ePOS_Live" password="{{ ac_live_pwd }}"/>
        <!--    IBM Application Center group.
        [Added by IBM Worklight Installation Manager for context root '/applicationcenter'] 
        -->
        <group name="appcenteradmingroup">
            <member name="appcenteradmin"/>
        </group>
        <group name="appcenterusergroup">
            <member name="demo"/>
            <member name="user1"/>
            <member name="user2"/>
            <member name="TH_ePOS_training"/>
            <member name="TH_ePOS_Live"/>
        </group>
    </basicRegistry>

    <!-- Begin of configuration added by IBM Worklight installer. -->

    <!-- Declare the IBM Application Center Console application. -->
    <application id="appcenterconsole" name="appcenterconsole" location="appcenterconsole.war" type="war">
        <application-bnd>
            <security-role name="appcenteradmin">
                <group name="appcenteradmingroup"/>
                <group name="GSGRHO-PREPROD-MoblieFirst"/>
            	<group name="GSGRT-MobileFirst"/>
	    </security-role>
        </application-bnd>
    </application>

    <!-- Declare the IBM Application Center Services application. -->
    <application id="applicationcenter" name="applicationcenter" location="applicationcenter.war" type="war">
        <application-bnd>
            <security-role name="appcenteradmin">
		<special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
        <classloader delegation="parentLast">
            <commonLibrary>
                <fileset dir="${wlp.install.dir}/lib" includes="com.ibm.ws.crypto.passwordutil_*.jar"/>
            </commonLibrary>
        </classloader>
    </application>

    <!-- Declare the JNDI properties for the IBM Application Center. -->
    
    <!-- Define the AppCenter services endpoint in order for the AppCenter console to be able to invoke the REST service.
			You need to enable this property if the server is behind a reverse proxy
			or if the context root of the Application Center Services application is different from '/applicationcenter'. -->
    <!-- The directory with binaries of the 'aapt' program, from the Android SDK's platform-tools package. -->
    <jndiEntry jndiName="ibm.appcenter.services.endpoint" value='"http://"{{ __mfp_ac_host }}":9080/applicationcenter"'/>
    <jndiEntry jndiName="android.aapt.dir" value='"{{ __mfp_install_location }}"/ApplicationCenter/tools/android-sdk'/>
    <!-- The protocol of the application resources URI. This property is optional. It is only needed if the protocol of the external and internal URI are different. -->
    <!-- The hostname of the application resources URI. -->
    <!-- The port of the application resources URI. This property is optional. -->

    <!-- Declare the jar files for DB2 access through JDBC. -->
    <library id="DB2Lib">
        <fileset dir="${shared.resource.dir}/db2" includes="*.jar"/>
    </library>

    <!-- Declare the IBM Application Center database. -->
    <dataSource jndiName="jdbc/AppCenterDS" transactional="false">
        <jdbcDriver libraryRef="DB2Lib"/>
        <properties.db2.jcc databaseName="{{ __mfp_ac_db2_dbnm }}" serverName="{{ __mfp_db2_host }}" portNumber="{{ __mfp_ac_db2_port }}" user="{{ __mfp_ac_db2_usr }}" password="{{ mfp_db2_wluser_pwd }}"/>
    </dataSource>

    <!-- End of configuration added by IBM Worklight installer. -->

    <ssl id="defaultSSLConfig" sslProtocol="SSL_TLSv2" keyStoreRef="defaultKeyStore"  />
    <keyStore id="defaultKeyStore" location="{{ __mfp_ac_server_dir }}/{{ __mfp_ac_keystore }}" password="{{ ac_keystore_pwd }}" type="PKCS12" />

	<!--logging traceSpecification="com.ibm.ws.security.wim.*=all:com.ibm.websphere.security.wim.*=all"/>
-->

<jndiEntry jndiName="ibm.appcenter.ldap.active" value="true"/>
<jndiEntry jndiName="ibm.appcenter.ldap.federated.active" value="true"/>


<!--
<logging traceSpecification="com.ibm.puremeap.*=all:com.ibm.worklight.*=all:com.worklight.*=all"/>
-->
</server>
