<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __ihs_tmp_dir }}'/>
    <repository location='{{ __ihs_fp_tmp_dir }}'/>
  </server>
  <profile id='IBM HTTP Server V8.5' installLocation='{{ __ihs_install_location }}'>
    <data key='cic.selector.arch' value='x86'/>
    <data key='user.wasjava' value='java8'/>
    <data key='user.internal.use.only.prev.wasjava' value='java8'/>
    <data key='user.ihs.http.server.service.name' value='none'/>
    <data key='user.ihs.httpPort' value='80'/>
    <data key='user.ihs.installHttpService' value='false'/>
  </profile>
  <install>
    <!-- IBM HTTP Server for WebSphere Application Server 8.5.5.13 -->
    <offering profile='IBM HTTP Server V8.5' id='com.ibm.websphere.IHS.v85' version='{{ __ihs_version }}' features='core.feature,arch.64bit'/>
  </install>
  <profile id='Web Server Plug-ins for IBM WebSphere Application Server V8.5' installLocation='{{ __plugin_install_location }}'>
    <data key='cic.selector.arch' value='x86'/>
    <data key='user.wasjava' value='java8'/>
    <data key='user.internal.use.only.prev.wasjava' value='java8'/>
  </profile>
  <install>
    <!-- Web Server Plug-ins for IBM WebSphere Application Server 8.5.5.13 -->
    <offering profile='Web Server Plug-ins for IBM WebSphere Application Server V8.5' id='com.ibm.websphere.PLG.v85' version='{{ __plugin_version }}' features='core.feature,com.ibm.jre.6_64bit'/>
  </install>
  <profile id='WebSphere Customization Toolbox V8.5' installLocation='{{ __cust_toolbox_install_location }}'>
    <data key='cic.selector.arch' value='x86'/>
  </profile>
  <install>
    <!-- WebSphere Customization Toolbox  8.5.5.0 -->
    <offering profile='WebSphere Customization Toolbox V8.5' id='com.ibm.websphere.WCT.v85' version='{{ __cust_toolbox_version }}' features='core.feature,pct,zpmt,zmmt'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
